confirm-modules-purge=false
shamefully-hoist=false
auto-install-peers=true
strict-peer-dependencies=false
enable-pre-post-scripts=true
resolution-mode=highest
use-beta-cli=false
engine-strict=true
only-allow=pnpm
